@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;

}

.logo-container{
  display: flex;
  justify-content: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: center;  
  gap: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.input {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  padding-bottom: 5px;
}

.left-links{
  padding: 5px;
  margin: 5px;
  flex: 1;
  height: 2vh;
  justify-content: flex-start;
}

.right-links{
  padding: 5px;
  margin: 5px;
  flex: 1;
  height: 2vh;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a:link {
  text-decoration: none;
  color: rgb(34, 34, 34);;
}

a:visited {
  text-decoration: none;
  color: rgb(34, 34, 34);;
}

a:hover {
  text-decoration: none;
  color: rgb(34, 34, 34);;
}

a:active {
  text-decoration: none;
  color: rgb(34, 34, 34);
}